@model BustadirForm.Models.Orkulan

<div class="row">
    <div class="col-md-12">
        Takk fyri tína umsókn. Tú fært eitt avrit av umsóknini á tín teldupost og hoyrir síðani aftur frá okkum.
        <br />
        Bústaðir – Føroya bústaðafelag
    </div>
</div>

<script>
    $(function () {
        
    });
</script>