@{
    ViewBag.Title = "Bústaðir";
}

<div class="jumbotron">
    <h1>Bústaðir</h1>
    <p class="lead">Umsókn um lán til orkusparandi tiltak skal útfyllast á teldu.</p>
    @*<p><a href="http://www.bustadir.fo/orkulan" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Mobile</h2>
        <p>
            IsMobile? @Request.Browser.IsMobileDevice
            <br />
            MobileDeviceManufacturer: @Request.Browser.MobileDeviceManufacturer
            <br />
            MobileDeviceModel: @Request.Browser.MobileDeviceModel
        </p>
    </div>
</div>*@
