@{
    ViewBag.Title = "Bústaðir";
}

<div class="jumbotron">
    <h1>Bústaðir</h1>
    <p class="lead">Tilmelding til bústaðir skal útfyllast á teldu.</p>
    <p><a href="/Home/Index" class="btn btn-primary btn-lg">Halt áfram allíkavæl</a></p>
</div>

@*<div class="row">
        <div class="col-md-4">
            <h2>Mobile</h2>
            <p>
                IsMobile? @Request.Browser.IsMobileDevice
                <br />
                MobileDeviceManufacturer: @Request.Browser.MobileDeviceManufacturer
                <br />
                MobileDeviceModel: @Request.Browser.MobileDeviceModel
            </p>
        </div>
    </div>*@
