@using Microsoft.AspNet.Identity
@{
    var culture = Kthusid.Helpers.CultureHelper.GetCurrentCulture();
    var cultureUILowerInvariant = Kthusid.Helpers.CultureHelper.GetCurrentUICultureLowerInvariant();
    var userName = "";
    var userBirthday = "";
    var hometown = "";
    var currentUser = BustadirForm.BLL.AccountHandler.Instance.User;
    if (currentUser != null)
    {
        userName = currentUser.UserName;
        if (currentUser.Birthday != null)
        {
            userBirthday = currentUser.Birthday.Value.ToShortDateString();
        }
        hometown = currentUser.HomeTown;
    }
}
Username: @userName
<br />
Birthday: @userBirthday
<br />
Hometown: @hometown
<hr />
<h4>Culture Info</h4>
Culture: @culture
<br />
Culture UI Lower Invariant: @cultureUILowerInvariant
<br />